# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
data/wordpress/wp-admin/
data/wordpress/wp-content/index.php
data/wordpress/wp-content/languages
data/wordpress/wp-content/plugins/index.php
data/wordpress/wp-content/themes/index.php
data/wordpress/wp-includes/
data/wordpress/index.php
data/wordpress/license.txt
data/wordpress/readme.html
data/wordpress/wp-*.php
data/wordpress/xmlrpc.php

# Configuration
data/wordpress/wp_config.php

# Example themes
data/wordpress/wp-content/themes/twenty*/

# Example plugin
data/wordpress/wp-content/plugins/

# Uploads
/uploads/

# Log files
*.log

# htaccess
data/wordpress/wp-content/.htaccess
data/wordpress/.htaccess
# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# Ignorar dumps do banco de dados
*.sql

# Ignorar todo o diretório do banco de dados MySQL
data/db/

# Ignorar certificados e chaves privadas
data/db/*.pem

# Ignorar arquivos de log
**/error_log

# Ignorar arquivos temporários e de sistema
*.tmp
*.swp
*.bak

# Ignorar arquivos do sistema operacional (Mac, Windows)
.DS_Store
Thumbs.db

# Outros
backup/
.env